.idea/
local.properties
videoanalyser/.idea/
Slate/
vision-quickstart/
Camera2SlowMotion/.idea
Camera2SlowMotion/app/build/
Camera2SlowMotion/.gradle/
Camera2SlowMotion/local.properties
Camera2SlowMotion/utils/build/
Camera2SlowMotion/build/
